/* Doc reset box-sizing has the border included*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 24px;
  /* CSS Variables */
  --dark-font: #22223b;
  --med-dark-font: #4a4e69;
  --btn-color: #9a8c98;
  --tan-color: #f2e9e4;
  --margin-bottom: 1rem;
  --border-radius: 0.5rem;
  --header-font: "Quattrocento", system-ui;
  --seondary-font: "Mulish", sans-serif;
  --header-fontWeight-bold: 700;
  --header-fontWeight-semi-bold: 400;
}

body {
  background-color: var(--bg-color-1);
  color: #22223b;
}

main {
  margin: auto;
  margin-top: 6rem;
  max-width: 30rem;
  background-color: var(--tan-color);
  color: #22223b;
  border-radius: var(--border-radius);
}

.mulish {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.quattrocento-regular {
  font-family: "Quattrocento", system-ui;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-bold {
  font-family: "Quattrocento", system-ui;
  font-weight: 700;
  font-style: normal;
}

h1 {
  text-align: center;
  margin-bottom: var(--margin-bottom);
  font-weight: 800;
  color: #22223b;
  font-family: var(--header-font);
  font-weight: var(--header-fontWeight-bold);
}

form {
  background-color: var(--btn-color);
  margin-bottom: var(--margin-bottom);
  border-radius: var(--border-radius);
  font-family: var(--seondary-font);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

form > input,
form > label,
form > button {
  margin-bottom: 0.5rem;
}

form > button,
form > input {
  min-height: 1.5rem;
  min-width: 10rem;
  border: 1px soild rgb(204, 200, 200);
  border-radius: var(--border-radius);
  font-size: 0.8rem;
  padding: 0.4;
  color: var(--bg-primary);
}
form > button {
  cursor: pointer;
  color: white;
  background-color: #4a4e69;
}
ul {
  list-style-type: none;
  font-family: var(--seondary-font);
  font-weight: 350;
  background-color: #f2e9e4;
}

li {
  margin-bottom: var(--margin-bottom);
  border-radius: var(--border-radius);
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  background-color: #9a8c98;
}
li > button {
  cursor: pointer;
  background-color: #4a4e69;
  font-size: 0.7rem;
  padding: 0.2rem;
  color: white;
  border-radius: var(--border-radius);
}

/* Toggle Stuff */
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--header-font);
  font-weight: 300;
}
.toggle-container > h3 {
  margin-right: 0.2rem;
  font-size: 0.7rem;
}
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 17px;
  transition: background-color 0.2s ease-in-out;
}

.toggle-switch-input {
  display: none;
}

.toggle-switch-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background-color: #fff;
  border-radius: 17px;
  transition: left 0.2s ease-in-out;
}

/* Active state */
.toggle-switch-input:checked + .toggle-switch-slider {
  left: 26px;
}

.toggle-switch-input:checked + .toggle-switch {
  background-color: #007bff;
}
